:host {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
}

:host .wrapper {
  width: 320;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

:host .wrapper table {
  overflow:auto;
}
:host #cursor {
  background: #000;
  position: absolute;
  cursor: none;
  pointer-events: none;
}
